.container {
  width: 1100px;
  height: 100%;
  margin: 2rem auto 1rem auto;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 0 5px 1px #ced4da;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 2rem;
}

Main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

form #country-input,
#gold-medal-input,
#silver-medal-input,
#bronze-medal-input {
  width: 200px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

form > button {
  border: none;
  border-radius: 5px;
  background-color: #ff9d23;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}

form > button:hover {
  opacity: 80%;
}

p {
  margin-top: 1rem;
}

.medal-list {
  border-radius: 10px;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-collapse: collapse;
  border-style: hidden;
}
th {
  background-color: #543a14;
  color: white;
}

tbody tr:nth-child(2n) {
  background-color: #e1e5e9;
}

tbody tr:nth-child(2n-1) {
  background-color: #f8f9fa;
}

tr:hover {
  box-shadow: 0 0 0 2px #2a2c2e inset;
}

th,
td {
  width: 220px;
  height: 45px;
  text-align: center;
  border: none;
}

td > button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #fb4141;
  padding: 8px;
  cursor: pointer;
}

td > button:hover {
  opacity: 80%;
}

.total {
  color: #858e96;
}

.radio-button {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 2rem;
}

.radio-button > input {
  margin-left: 1rem;
}
