.container {
  width: 1200px;
  margin: 2rem auto 1rem auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 5px 1px #ced4da;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

Header {
  margin-bottom: 2rem;
}

Main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

Form {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

Form #country-input,
#gold-medal-input,
#silver-medal-input,
#bronze-medal-input {
  width: 200px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

Form > button {
  border: none;
  border-radius: 5px;
  background-color: #ff9d23;
  padding: 10px;
  cursor: pointer;
}

Form > button:hover {
  opacity: 80%;
}
